<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fontello.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<section class="container">
    <section class="menu">
        <section class="logo">
            <h2>BookWeb</h2>

        </section>

        <section class="optionMenu">
            <a class="oneOption">
                 <span class="icon-database"></span>
                 <h3>Baza danych</h3>
            </a>
        </section>

    </section>

    <section class="top">
        <section class="titleAndRole">
            <h3>Główny administrator</h3>

        </section>
        <section class="mainContent">
            <section class="tableName">
                <h3>Użytkownik</h3>
                <h3>Werfikacja Konta</h3>

            </section>

            <section class="tableContent">
                <table>
                    <tr>
                        <td>Id</td>
                        <td>Login</td>
                        <td>Hasło</td>
                        <td>Uprawnienia</td>
                        <td></td>
                        <td></td>

                    </tr>

                    h1 Student List using Jade engine
                    
                    ul
                    each item in studentList
                        li=item.StudentName





                </table>
            </section>

            <section class="nextDataTable">
                <a href="" class="icon-right-circled"></a>
                <h5>7/12</h5>
                <a href="" class="icon-left-circled"></a>

            </section>

        </section>

    </section>

    <section class="right">
        <section class="name">
            <img src="user.jpg" alt="">
            <h3>Błażej Jasiński</h3>
            <a class="icon-logout"></a>

        </section>

        <section class="statistics">
            <h3>Statystyki</h3>


            <h4>Wejścia</h4>
            <table>
                <tr><td>Od początku</td><td>240000</td></tr>
                <tr><td>Dziś</td><td>2400</td></tr>
                <tr><td>Tydzień</td><td>24000</td></tr>
                <tr><td>Miesiąc</td><td>240000</td></tr>
            </table>

            <h4>Nowi użytkownicy</h4>
            <table>
                <tr><td>Od początku</td><td>240000</td></tr>
                <tr><td>Dziś</td><td>2400</td></tr>
                <tr><td>Tydzień</td><td>24000</td></tr>
                <tr><td>Miesiąc</td><td>240000</td></tr>
            </table>

            <h4>Online</h4>
            <table>
                <tr><td>Użytkownicy</td><td>240</td></tr>

            </table>

        </section>

    </section>





</section>


</body>
</html>