body {
  background-color: #fff;
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-rows: 2fr 8fr;
}

body .login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body .login form {
  display: flex;
  margin-bottom: 20vh;
  flex-direction: column;
}

body .login form input {
  margin: 0.5vh;
  width: 25vw;
  height: 5vh;
  text-align: center;
 
  border: 0;
  border-bottom: 3px solid #ccc;
}

body .login form input[type=submit] {
  background-color: #fdaa27;
  border-bottom: 0;
}

body .login form input[type=submit]:hover {
  cursor: pointer;
  background-color: #ecaa26;
}

body .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

body .title h2, body .title h3 {
  margin: 0;
  text-transform: uppercase;
}

body .title h3 {
  font-size: 15px;
}

p{
  color:red;
}