body {
  margin: 0;
}

section.container {
  background-color: #ccc;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 9fr 70fr 24fr;
}

section.container .menu {
  background-color: #fff;
  border-right: 3px solid #ccc;
  display: grid;
  grid-template-rows: 7vh repeat(5, 7vh);
}

section.container .menu .logo {
  text-align: center;
  color: #fdaa27;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.container .menu .optionMenu {
  margin-top: 2.5vh;
}

section.container .menu .optionMenu .oneOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

section.container .menu .optionMenu .oneOption:hover {
  cursor: pointer;
}

section.container .menu .optionMenu .oneOption:hover span {
  color: #fdaa27;
}

section.container .menu .optionMenu .oneOption span {
  font-size: 20px;
  color: #ccc;
}

section.container .menu .optionMenu .oneOption h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 0.5em;
}

section.container .top {
  background-color: #fff;
  display: grid;
  grid-template-rows: 7vh 93vh;
}

section.container .top .titleAndRole {
  border-bottom: 3px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.container .top .mainContent {
  border-right: 3px solid #ccc;
}

section.container .top .mainContent .tableName {
  margin-left: 2vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  color: #ccc;
}

section.container .top .mainContent .tableName h3 {
  margin: 0.3vw;
  padding-bottom: 0.3vw;
  text-transform: uppercase;
  font-size: 14px;
}

section.container .top .mainContent .tableName h3:hover {
  border-bottom: 2px solid #fdaa27;
  cursor: pointer;
}

section.container .top .mainContent .nextDataTable {
  display: flex;
  flex-direction: row-reverse;
  margin: 1.5vw;
  font-size: 30px;
  align-items: flex-start;
}

section.container .top .mainContent .nextDataTable h5 {
  margin: 0;
}

section.container .top .mainContent .nextDataTable a {
  text-decoration: none;
  color: black;
}

section.container .top .mainContent .nextDataTable a:hover {
  color: #fdaa27;
}

section.container .top .mainContent .tableContent {
  margin-left: 2vw;
  margin-top: 2vh;
  color: #ccc;
  width: 90%;
}

section.container .top .mainContent .tableContent table {
  width: 100%;
  border-collapse: collapse;
}

section.container .top .mainContent .tableContent table tr:first-child {
  color: #ccc;
}

section.container .top .mainContent .tableContent table tr {
  border-bottom: 1px solid #ccc;
  color: black;
}

section.container .top .mainContent .tableContent table tr td {
  margin-left: 2vw;
  padding: 1vh;
}

section.container .top .mainContent .tableContent table tr td.icon-cancel-circled {
  padding-left: 0;
}

section.container .top .mainContent .tableContent table tr td.icon-cancel-circled:hover {
  color: red;
  cursor: pointer;
}

section.container .top .mainContent .tableContent table tr td.icon-pencil {
  padding-right: 0;
  cursor: pointer;
}

section.container .top .mainContent .tableContent table tr td.icon-pencil:hover {
  color: #fdaa27;
}

section.container .right {
  background-color: #fff;
  display: grid;
  grid-template-rows: 7vh 93vh;
}

section.container .right .statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section.container .right .statistics h3 {
  text-align: center;
}

section.container .right .statistics h4 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
  color: #ccc;
}

a{
  text-decoration:none;
  color:#ccc;
}
h3{
  border-left:1px solid #ccc;
  padding-left: 5px;
}
section.container .right .statistics table {
  border-collapse: collapse;
}

section.container .right .statistics table td {
  padding-right: 1vw;
}

section.container .right .statistics table tr {
  border-bottom: 1px solid #ccc;
}

section.container .right .name {
  border-bottom: 3px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

section.container .right .name img {
  height: 4vh;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 1vw;
}

section.container .right .name h3 {
  font-size: 16px;
  margin-right: 1vw;
}

section.container .right .name a {
  margin-right: 1vw;
}

section.container .right .name a:hover {
  color: red;
  cursor: pointer;
}
